
#home {
    /* border: 2px solid black; */
}

video {
    width: 100vw;
    position: relative;
    top: -100px;
    z-index: 0;
}

.mask {
    width: 100vw;
    height: 100px;
    background-color: #FFFDF6;
    /* background-color: #e7c95f; */
    position: relative;
    z-index: 999;
    top: -200px;
    margin-bottom: -270px;
}

.entermodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}