.spacer {
    height: 20px;
}

.dates {
    font-family: Helvetica;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.subsubtitle {
    font-size: 1.4rem;
    /* color: rgb(7, 49, 74); */
}

a {
    color: rgb(12, 77, 115);
}