#select {
    /* border: 2px solid black; */
    position: relative;
    z-index: 9999;
}

.text {
    font-family: Helvetica;
    width: 80vw;
    margin: 0 auto;
}

.desc {
    font-style: italic;
}

.album {
    font-size: .75rem;
}

.albumname {
    font-family: Helvetica;
    margin-top: 10px;
}

.cardflex {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1em;
    flex-wrap: wrap;
}

.albumflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.imgflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumimg {
    width: 25vw;
}