
nav {
    position: fixed;
    z-index: 99999;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-family: 'HappyDay'; */
    /* font-family: 'Olivier'; */
    padding-top: 15px; 
    /* ^^^ This is for Olivier font only, remove if switching */
    /* letter-spacing: 1px; */
    font-size: 1.5rem;
    background-color: #FFFDF6;
    /* REMOVE BORDER!!! */
    /* border-bottom: 1px dotted #fae59c; */
}

.mikeyname {
    position: absolute;
    z-index: 999;
    font-size: 2rem;
    /* margin-top: -5px; */
    margin-top: -10px;
    /* ^^^ Only if using Olivier for links */
    font-family: 'HappyDay';
}

.mikey-container {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-right {
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.link {
    cursor: pointer;
}


@keyframes fadeout {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }