.App {
  text-align: center;
}

h1 {
  font-family: 'HappyDay', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  }


@font-face {
  font-family: 'HappyDay';
  src: url('../happyday/happyday-regular-webfont.woff2') format('woff2'),
       url('../happyday/happyday-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
