body {
  background-color: #FFFDF6;
  overflow-x: hidden;
  font-family: 'HappyDay', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.subtitle {
  font-size: 1.75rem;
  text-align: left;
  padding-left: 50px;
  font-family: 'HappyDay';
  margin-bottom: 50px;
  margin-top: 50px;
}

.line {
  width: 70vw;
  margin: 0 auto;
}

.line2 {
  width: 80vw;
  margin: 0 auto;
}


@font-face {
  font-family: 'HappyDay';
  src: url('../happyday/happyday-regular-webfont.woff2') format('woff2'),
       url('../happyday/happyday-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
